div(data-role='page')
    header(data-role='header')
        h1= title
    div(data-role='content')
        div#video
            iframe(width="100%", height=215, src="http://www.youtube.com/embed/" + vid, frameborder="0", allowfullscreen)
